/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #781e95;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul img {
    width: 100px;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a, nav ul li button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  nav ul li a:hover, nav ul li button:hover {
    background-color: #555;
  }
  
  /* Sección del login */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-image: url('../recursos/Imagenes/Fondo_inicio.png');
    background-size: cover;
    background-position: center;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #8d44a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-container button:hover {
    background-color: #6545a0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  /* Estilo responsivo */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    .login-container {
      width: 100%;
      padding: 40px 20px;
    }
  }
  
  /* contect*/
  /* Contenido principal */
  .services-container {
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  