/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    background-image: url('/recursos/Imagenes/Fondo_inicio.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Estilos del encabezado */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #781e95;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li img {
    width: 40px;
    height: auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
}

/* Especificaciones para el logo que nos redirigira a la pagina de Inicio o index*/
nav ul li a.logo {
    background-color: transparent;
    padding: 0;
}

nav ul li a.logo img {
    width: 50px;
    height: auto;
    border-radius: 0;
}

/* Formulario flotante */
.form-floating {
    position: absolute;
    right: 30px;
    top: 20%;
    background-color: rgb(115, 105, 158);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-floating h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    border-radius: 2px;
}

.form-floating p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.input-group i {
    margin-left: 10px;
    color: #999;
}

.form-floating button {
    background-color: #4e326d;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.form-floating button:hover {
    background-color: #605272;
}

#confirmation-message {
    text-align: center;
    color: green;
    margin-top: 15px;
    display: none;
}
